<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Inventorizer Web App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<link rel="icon" type="image/png" href="../resources/css/box.png" />
	<link rel="stylesheet" type="text/css" href="../resources/css/loginStyles.css">
	<script type="text/javascript" src="../resources/js/loginScripts.js"></script>
</head>
<body>
	<div class="container mt-4">
		<div class="row">
			<div class="col-12 loginForm">
				<!--Header-->
				<div class="row header mt-4">
					<!--Icon-->
					<div class="col-md-4 d-flex justify-content-center align-items-center mb-4">
						<img width="250" height="250" src="../resources/css/box.png">
					</div>
					<!--Title-->
					<div class="col-md-8 d-flex justify-content-center align-items-center mb-4">
						<h1>Inventorizer Web App</h1>
					</div>
				</div>
				<!--Login form-->
				<div class="row d-flex justify-content-center mx-5">
				<!--form class="row g-3 mx-5" action="" method="post"-->
					<div class="col-md-6 mb-3 mt-3">
						<div class="row">
							<div class="col-1">
								<label for="InputUser" class="d-flex justify-content-center align-items-center"><i class="fas fa-user"></i></label>
							</div>
							<div class="col">
								<p class="h5">Username:</p>
							</div>
						</div>
						<input type="text" class="form-control g-3" id="InputUser" onkeyup="toggleErrorAndBtn(this.value,InputPassword.value)">
					</div>
					<div class="col-md-6 mb-3 mt-3">
						<div class="row">
							<div class="col-1">
								<label for="InputPassword" class="d-flex justify-content-center align-items-center"><i class="fas fa-lock"></i></label>
							</div>
							<div class="col">
								<p class="h5">Password:</p>
							</div>
						</div>
						<input type="password" class="form-control" id="InputPassword" onkeyup="toggleErrorAndBtn(InputUser.value,this.value)">
					</div>
					<!--div class="col-12 mb-3 mt-3">
						<div class="row">
							<label for="InputToken" class="d-flex justify-content-center align-items-center"><i class="fas fa-id-card"></i></label>
							<p class="h5">Access Token:</p>
						</div>
						<input type="text" class="form-control" id="InputToken">
					</div-->
					<div class="col-md-2 mb-3 mt-3 d-flex justify-content-left">
						<a href="home.html"><button id="loginbtn" class="btn btn-primary mb-3" disabled>Login</button></a>
					</div>
					<!--Link to sign up-->
					<div class="col-md-3 mb-3 mt-3 d-flex justify-content-left">
						<a href="signup.html"><button class="btn btn-primary mb-3">Sign up</button></a>
					</div>
					<div class="col-md-7 mb-3 mt-3 d-flex justify-content-left">
						<p id="invalidation" class="h5" hidden>Entered user or password is incorrect!</p>
					</div>
				<!--/form-->
				</div>
			</div>
		</div>
	</div>
</body>
</html>