html, body {
	scroll-behavior: smooth;
}

body {
	background-color: #1F0322;
}

h1 {
  	text-align: center;
  	font-size: 54px;
  	font-style: italic;
  	color: #1F0322;
}

label {
	width: 30px;
  	height: 30px;
	background-color: #264653;
	color: #FFFFFF;
}

.loginForm {
	background-color: #DCE1DE;
}

.header {
	border-bottom: 10px groove #2A9D8F;
}

#invalidation {
	color: #FF0000;
}
